<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}"/>
    <title>document</title>
    <script >
        function addLocationInputs() {
            var numberOfFriends = document.getElementById('numFriends').value;
            var container = document.getElementById('locationInputs');
            container.innerHTML = ''; // Clear previous inputs
        
            for (var i = 0; i < numberOfFriends; i++) {
                var input = document.createElement('input');
                input.type = 'text';
                input.name = 'friendLocation' + i;
                input.placeholder = 'Location of Friend ' + (i + 1);
                input.required = true;
                container.appendChild(input);
                container.appendChild(document.createElement('br'));
            }
        }
        // Example array of arrays
    
        
    </script>
</head>
<body>
    <div class="container">
        <h1>Meetup Location Recommender</h1>
        <form id="locationForm" , method="post">
            <input type="number" id="numFriends" name="numFriends" placeholder="Number of Friends" min="1" max="10" required="required" oninput="addLocationInputs()" />
            <div id="locationInputs">
                <!-- Location inputs will be added here dynamically -->
            </div>
            <div class="input-group">
                <label for="meetingType">Type of Place:</label>
                <input id="meetingType" name="meetingType" required="required">
            </div>
            <button type="submit">Recommend Location</button>
        </form>
        <table id="dataTable" border="1">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Vicinity</th>
                <th scope="col">Rating</th>
                <th scope="col">Reviews</th>
                <th scope="col">Sentiment</th>
                </tr>
            </thead>
                
            <tbody>
                {%for data in allrecords%}
                <tr>
                <td>{{data.name}}</td>
                <td>{{data.vicinity}}</td>
                <td>{{data.rating}}</td>
                <td>{{data.reviews}}</td>
                <td>{{data.sentiment}}</td>
                </tr>    
                {%endfor%}
            </tbody>
        </table>
</body>
</html>