<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetup Location Recommender</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Meetup Location Recommender</h1>
        <form id="locationForm",action="{{ url_for('predict')}}"method="post">
            
            <input type="text" name="Location1" placeholder="Location1" required="required" />
            <input type="text" name="Location2" placeholder="Location2" required="required" />
            <input type="text" name="Location3" placeholder="Location3" required="required" />
            <div class="input-group">
                <label for="meetingType">Type of Place:</label>
                <input id="meetingType" name="meetingType">
            </div>
            <button type="submit">Recommend Location</button>
        </form>
        <div id="result">
            {{ prediction_text }}
        </div>
    </div>

</body>
</html>
